<h1><%= @client.name %></h1>
<%= link_to 'New Campaign', new_campaign_path(@client.id) %>
<h3>All campaigns:</h3>
<ul>
	<% @campaigns.each do |campaign| %>
		<li><%= link_to campaign.name, campaign_path(campaign) %></li>
	<% end %>
</ul>
